<!DOCTYPE html>
<html>
    <head>
        <title>应用中心</title>

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <link rel="stylesheet" href="../css/index.css" />
    </head>
    
    <body>
        <div class="name">
            <p>便民生活</p>
        </div>
        
        <div class="content">
            <table>
                <tr>
                    <td onclick="window.location='./rmb'" >
                        <img src="../img/rmb.png" />
                        <p>人民币大写</p>
                    </td>
                    <td onclick="window.location='./hxw'" >
                        <img src="../img/hxw.png" />
                        <p>非主流火星文</p>
                    </td>
                    <td onclick="window.location='./sw'" >
                        <img src="../img/sw.png" />
                        <p>女性标准三围</p>
                    </td>
                </tr>
                <tr>
                    <td onclick="window.location='./tz'" >
                        <img src="../img/tz.png" />
                        <p>标准体重</p>
                    </td>
                    <td>
                        
                    </td>
                    <td >
                      
                    </td>
                </tr>
            </table>
        </div>

        <script type="text/javascript" src="../lib/jquery/jquery.min.js" ></script>
        <script type="text/javascript" src="../js/index.js" ></script>
    </body>
</html>