<!DOCTYPE html>
<html>
    <head>
        <title>标准体重</title>

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <link rel="stylesheet" href="../css/tz.css" />
    </head>

    <body>
        <!-- 占位符 -->
        <div class="placeholder"></div>

        <!-- 输入框 -->
        <div class="input-area">
            <input id="input-height" type="text" placeholder="身高（厘米）">
        </div>

        <!-- 分割线 -->
        <div class="divider-show">
            <hr/>
        </div>

        <!-- 输入框2 -->
        <div class="input-area">
            <input id="input-weight" type="text" placeholder="体重（公斤）">
        </div>

        <!-- 分割线2 -->
        <div class="divider-show">
            <hr/>
        </div>

        <!-- 选择框 -->
        <div class="select">
            <p id="input-sex">男</p>
            <hr/>
            <ul>
                <li>男</li>
                <hr/>
                <li>女</li>
            </ul>
        </div>

        <!-- 分割线3 -->
        <div class="divider-hide">
            <hr/>
        </div>

        <!-- 输出区域 -->
        <div id="output-area" class="output-area">
            <p id="output"></p>
        </div>

        <!-- 温馨提示 -->
        <p class="tip">温馨提示：查询结果仅供参考，请务必进行多方验证。</p>

        <script type="text/javascript" src="../../lib/jquery/jquery.min.js" ></script>
        <script type="text/javascript" src="../../js/tz.js" ></script>
    </body>
</html>