* {
    padding: 0;
    margin: 0;
    font-family: "Microsoft YaHei", 微软雅黑, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; 
}

body {
    background-color: #EEEFF3;
}

div.placeholder {
    height: 20px;
}

div.input-area {
    background-color: #FFFFFF;
    padding: 10px 20px 10px 20px;
}

div.input-area input {
    font-size: 1.2rem;
    box-shadow: none;
    outline: none;
    border: none;
    width: 100%;
    ime-mode: disabled;
}

div.divider-show {
    background-color: #FFFFFF;
}

div.divider-show hr {
    border: none;
    border-top: 1px solid  #F2F2F2;
    margin: 0 20px;
}

div.divider-hide {
    background-color: #FFFFFF;
}

div.divider-hide hr {
    border: none;
    border-top: 1px solid  #F2F2F2;
    margin: 0 20px;
    display: none;
}

div.select {
    margin: 0 0 0 0;
    background-color: #FFFFFF;
}

div.select p {
    padding: 10px 20px 10px 20px;
    font-size: 1.2rem;
}

div.select hr {
    border: none;
    border-top: 1px solid  #F2F2F2;
    margin: 0 20px;
    display: none;
}

div.select ul {
    list-style: none;
    display: none;
    box-shadow: 0 3px 5px #A9A9A9;
    position: absolute;
    background-color: #FFFFFF;
    width: 100%;
}

div.select ul li {
    list-style: none;
    padding: 10px 20px 10px 20px;
    font-size: 1.1rem;
    color: #A9A9A9;
}

div.select ul li.active {
    background-color: #D9D9D9;
}

div.output-area {
    background-color: #FFFFFF;
    padding: 10px 20px 10px 20px;
    display: none;
}

div.output-area p {
    font-size: 1rem;
    color: #02BD00;
    line-height: 25px;
}

p.tip {
    padding: 10px 20px 10px 20px;
    color: #868686;
    word-break: break-all;
    line-height: 25px;
    font-size: 0.8rem;
}
