<!DOCTYPE html>
<html>
    <head>
        <title>非主流火星文</title>
        
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <link rel="stylesheet" href="./stylesheets/hxw.css" />
    </head>

    <body>
        <!-- 占位符 -->
        <div class="placeholder"></div>

        <!-- 输入框 -->
        <div class="input-area">
            <input id="input" type="text" placeholder="還誋嘚噹哖非註蓅の洎巳嗎？">
        </div>

        <!-- 分割线 -->
        <div id="divider" class="divider">
            <hr/>
        </div>

        <!-- 输出区域 -->
        <div id="output-area" class="output-area">
            <p id="output"></p>
        </div>

        <script type="text/javascript" src="./lib/jquery/jquery.min.js" ></script>
        <script type="text/javascript" src="./javascripts/hxw.js" ></script>
    </body>
</html>